* {
  font-family: "Monda", sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: center;
  height: 65px;
  color: white;
  background-color: black;
  align-items: center;
}

header img {
  width: 50px;
  margin-left: 20px;
  display: none;
}

main {
  background-color: #d1d1d1;
}


/* BANNER */

.homeImgBanner {
  position: relative;
  width: 100%;
  height: calc(100vh - 65px);
  background-size: cover;
  background-position: center;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.contentImg img {
  display: none;
}

.content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0px 5%;
}

.contentText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.bannerStrongText {
  color: #4495E1;
}

.content button {
  width: 100%;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  background-color: #4495E1;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
}

.content h3 {
  font-size: 1.2em;
  font-weight: 100;
}


/* ABOUT US */

section {
  margin: 0% 5%;
}

.titleSection {
  margin: 20px 5%;
  font-weight: bolder;
}

.aboutUsSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.aboutUsSection h2 {
  color: #4495E1;
  font-weight: 300;
}

.aboutUsSection h3 {
  font-weight: 100;
}

.aboutUsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* SERVICE */

.serviceCard {
  width: 100%;
  height: 100%;
  position: relative;
}

.serviceCard img {
  width: 100%;
  max-height: 230px;
  border-radius: 10px;
  object-fit: cover;
}

.serviceText {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.61);
}

/* STEPS */

.descriptionStep {
  font-weight: 100;
}

.stepsSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stepItem {
  display: flex;
  align-items: flex-start;
}

.numberStep {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin-right: 20px;
  /* Espacio entre el número y el contenido */
}

.contentStep {
  width: 100%;
}

/* FORM */

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formInput {
  height: 45px;
  border-radius: 10px;
  border: 0px;
  font-size: 1.1em;
}

.formInput::placeholder {
  padding: 10px;
}

.formButton {
  height: 50px;
  border: 0px;
  border-radius: 5px;
  font-size: 1.3em;
}


@media (min-width: 768px) {
  header img {
    display: inline;
  }

  .content {
    flex-direction: row;
    padding: 0px 8%;
    text-align: left;
  }

  .contentText{
    width: 60%;
  }

  .contentImg {
    width: 40%;
  }

  .contentImg img {
    width: 100%;
  
    display: block;
    max-height: 467px;
    object-fit: contain;
  }

  .aboutUsSection {
    flex-direction: row;
  }

  .aboutUsContainer {
    width: 50%;
  }
}

@media (min-width: 1020px) {
  section {
    padding: 0px 8%
  }

  .titleSection {
    padding: 10px 8%;
  }

  .serviceCard img {
    max-height: 280px;
  }

  .serviceText {
    font-size: 1.4em;
  }

  .contentText h1{
    font-size: 2.4em;
  }

  .contentText h3{
    font-size: 1.4em;
  }

  /* ABOUT US */

  .aboutUsContainer h2 {
    font-size: 1.6em;
  }

  .aboutUsContainer h3 {
    font-size: 1.3em;
  }

  /* STEPS */

  .stepItem {
    width: 48%;
  }

  .stepsSection {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .titleStep {
    font-size: 1.6em;
  }

  .numberStep {
    font-size: 2.5em;
  }

  .descriptionStep {
    font-size: 1.3em;
  }
}